$heading-size: 24px;
$heading-weight: 400;

$subheading-size: 20px;
$subheading-weight: 500;

$card-size: 18px;
$card-weight: 500;

$mainText-size: 16px;
$mainText-weight:300;
$mainText-lineheight:18.75px;

$subText-size: 14px;
$subText-weight:300;
$subText-lineheight:16.41px;
